<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>广告列表</title>

        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>

        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：广告管理-》广告列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/add_ad">【添加广告】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>广告名称</td>
                        <td>前台所在位置</td>
                        <td>缩略图</td>
                        <td>建议大小</td>
                        <td align="center">操作</td>
                    </tr>

                {foreach $info as $k => $v}
                    <tr id="product1">
                        <td>{$v.ad_id}</td>
                        <td>{$v.ad_name}</td>
                        <td>{$v.ad_position}</td>
                        <td><img src="{$smarty.const.IMG_UPLOAD}{$v.ad_small_img}" height="40" width="40"></td>
                        <td>{$v.ad_px}</td>
                        <td>
                            <a href="{$smarty.const.__MODULE__}/Advert/update_ad/ad_id/{$v.ad_id}">修改<br></a>
                            <a href='{$smarty.const.__MODULE__}/Advert/del_ad?ad_id={$v.ad_id}' onclick="return confirm('确定要删除？');"> 删除 </a>
                        </td>

                    </tr>
                {/foreach}
                    <tr>
                        <td colspan="20" style="text-align: center;">
                           {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>