<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加品牌</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：商品管理-》添加品牌信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__MODULE__}/Goods/brand_info">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            {* /shop/index.php/Admin/Goods/add  -->__self__*}
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
            <table border="1" width="100%" class="table_a">
                <tr>
                    <td>品牌名称</td>
                    <td><input type="text" name="brand_name" value="{$brand_info.brand_name}"/></td>
                </tr>

                <tr>
                    <td>品牌官网</td>
                    <td><input type="text" name="brand_url" value="{$brand_info.brand_url}"/></td>
                </tr>
                <tr>
                    <td>预览</td>
                    <td>

                        <img src="{$smarty.const.IMG_UPLOAD}{$brand_info.brand_small_logo}" alt="" width="80" height="40">
                        <input type="checkbox" name="del_pic">删除图片
                    </td>
                </tr>
                <tr>
                    <td>更换LOGO</td>
                    <td>
                        <input type="file" name="brand_img" />(请上传非gif格式图片)
                    </td>
                </tr>
                <tr>
                    <td>商品详细描述</td>
                    <td>
                        <textarea name="brand_desc">{$brand_info.brand_desc}</textarea>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" align="center">
                        <input type="hidden" name="brand_id" value="{$brand_info.brand_id}" />
                        <input type="submit" value="修改">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>