{include "../head.html"} 


        <div class="block box">
            <div class="blank"></div>
            <div id="ur_here">
                当前位置: <a href="#">首页</a> <code>&gt;</code> 用户中心 
            </div>
        </div>

        <div class="blank"></div>
        <div class="blank"></div>

        <div class="block clearfix">
            <div class="AreaL">
              {include "./u_list.html"} 
            </div>

            <div class="AreaR">
                <div class="box">
                    <div class="box_1">
                        <div class="userCenterBox boxCenterList clearfix" style="">
                            <h5><span>请完善信息</span></h5>
                            <div class="blank"></div>
                            <form action="{$smarty.const.__SELF__}" method="post" name="theForm">
                                <table bgcolor="#dddddd" border="0" cellpadding="5" cellspacing="1" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="right" bgcolor="#ffffff">登录邮箱：</td>
                                            <td align="left" bgcolor="#ffffff">
                                                <input name="user_email" class="inputBg" id="consignee_0" value="" type="text" />
                                                (必填) </td>

                                        </tr>
                                        <tr>
                                            <td align="right" bgcolor="#ffffff">登录密码：</td>
                                            <td align="left" bgcolor="#ffffff">
                                                <input name="password" class="inputBg" id="address_0" value="" type="password" />
                                                (必填)</td>

                                        </tr>
                                        <tr>
                                            <td align="right" bgcolor="#ffffff">确认密码：</td>
                                            <td align="left" bgcolor="#ffffff">
                                                <input name="password2" class="inputBg" id="zipcode_0" value="" type="password" /></td>
                                                (必填)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="user_id" value="{$smarty.session.user_id}">
                                                <input type="submit" value="提交">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {include "../foot.html"} 